In [154]:
import pandas as pd

In [228]:
df = pd.read_excel('TEST TABLE R1.xlsx')

In [229]:
df

    list - A  List - B  List - C  RESULTADO
0          0         1     0.050      0.050
1          1         2     0.200      0.250
2          2         3     0.010      0.260
3          3         4     3.889      4.149
4          4         5     0.500      4.649
5          5         6     1.990      6.639
6          4         7     0.550      4.699
7          7         8     0.490      5.189
8          8         9     0.380      5.569
9          9        10     0.220      5.789
10         2        11     0.140      0.390
11        11        12     0.300      0.690
12        12        13     4.820      5.510
13        13        14     6.220     11.730
14        14        15     0.830     12.560
15        14        16     4.000     15.730
16        16        17     1.680     17.410
17        17        18     2.420     19.830
18        11        19     0.030      0.420
19        19        20     1.040      1.460
20        20        21     3.460      4.920
21        21        22     2.130      7.050
22        22        23     1.750      8.800
23        22        24     2.720      9.770
24        24        25     2.150     11.920
25        25        26     3.810     15.730
26        19        27     0.060      0.480
27        27        28     0.720      1.200
28        28        29     6.440      7.640
29        29        30     3.890     11.530
30        30        31     0.740     12.270
31        30        32     5.400     16.930
32        32        33     3.280     20.210
33        33        34     0.990     21.200
34        27        35     0.060      0.540
35        35        36     3.600      4.140

In [244]:
from time import sleep
listab = []
resultados = []
def somase(df):
    count = 0
    count2 = -1
    for n in df['list - A']:
        listab.append(df['List - B'][count])
        if n in listab:
            print(df['List - C'][count])
            lc = df['List - C'][count]
            
            #res = resultados[count2]
            
            #resultados.append(res + lc)
            
            lista_values = df.loc[df['List - B'] == n]['list - A'].sum()
            print(f'lista_values -- {lista_values}')
            
            resultados.append(resultados[lista_values] + lc)
            
            
            # resultados.append(df.loc[df['List - B'] == n][df['List - C']])
        else:
            print('Não está')
            resultados.append(df['List - C'][count])
        
        count += 1
        count2 += 1
        if count > 35:
            break
somase(df)
print(resultados)

Não está
0.2
lista_values -- 0
0.01
lista_values -- 1
3.889
lista_values -- 2
0.5
lista_values -- 3
1.99
lista_values -- 4
0.55
lista_values -- 3
0.49
lista_values -- 4
0.38
lista_values -- 7
0.22
lista_values -- 8
0.14
lista_values -- 1
0.3
lista_values -- 2
4.82
lista_values -- 11
6.22
lista_values -- 12
0.83
lista_values -- 13
4.0
lista_values -- 13
1.68
lista_values -- 14
2.42
lista_values -- 16
0.03
lista_values -- 2
1.04
lista_values -- 11
3.46
lista_values -- 19
2.13
lista_values -- 20
1.75
lista_values -- 21
2.72
lista_values -- 21
2.15
lista_values -- 22
3.81
lista_values -- 24
0.06
lista_values -- 11
0.72
lista_values -- 19
6.44
lista_values -- 27
3.89
lista_values -- 28
0.74
lista_values -- 29
5.4
lista_values -- 29
3.28
lista_values -- 30
0.99
lista_values -- 32
0.06
lista_values -- 19
3.6
lista_values -- 27
[0.05, 0.25, 0.26, 4.149, 4.649, 6.639, 4.699, 5.139, 5.519, 5.739, 0.39, 0.56, 5.380000000000001, 11.600000000000001, 12.430000000000001, 15.600000000000001, 14.110000000000001, 16.53, 0.29000000000000004, 1.6, 5.0600000000000005, 7.19, 8.940000000000001, 9.91, 11.090000000000002, 14.900000000000002, 0.6200000000000001, 2.3200000000000003, 8.760000000000002, 12.650000000000002, 13.390000000000002, 18.050000000000004, 16.67, 17.66, 1.6600000000000001, 5.92]

In [18]:
df['RESULTADO'][0] == df.loc[(df['List - B'] == 1) & (df['list - A'] == 0)]

   list - A  List - B  List - C  RESULTADO
0         0         1      0.05       0.05

In [33]:
df['List - B']

<class 'itertools.count'>

In [68]:
df['List - C'][1]

0.2

In [78]:
for n in df['list - A']:
    print(n)

0
1
2
3
4
5
4
7
8
9
2
11
12
13
14
14
16
17
11
19
20
21
22
22
24
25
19
27
28
29
30
30
32
33
27
35

In [84]:
listad = []
count = 0
for n in df['list - A']:
    listad.append(df['List - B'][count])
    print(listad)
    count += 1
print(listad)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]

3.8989999999999996

In [234]:
listc_values = df.loc[df['List - B'] == n]['list - A']

34    27
Name: list - A, dtype: int64